---
import Header from "../components/Header.astro";
import Launches from "../components/Launches.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="flex flex-col items-center px-10 py-3">
    <h3 class="py-3 font-bold text-stone-200 text-5xl">Home</h3>
    <p class="mt-3 font-light text-stone-700 sm:text-xl dark:text-gray-400">
      Fetched data directly from the SpaceX API
    </p>
    <div class="text-white">
      <Launches />
    </div>
  </div>
</Layout>
